<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<title>Zhiyong Su</title>
</head>

<body bgcolor="#F1F1F1" leftmargin="50" topmargin="20" marginwidth="150" marginheight="10">
<table width="100%" border="0">
  <tbody>
    <tr>
      <td width="230" height="200"><img src="images/su.png" width="208" height="252" alt=""/></td>
      <td width="750"><h1><strong>Zhiyong Su</strong></h1>
        <h4>Associate Professor</h4>
        <p><a href="Pub/Visual Computing.pdf">Visual Computing Group</a></p>
        <p><a href="http://au.njust.edu.cn/">School of Automation</a>, <a href="http://www.njust.edu.cn/">Nanjing University of Science and Technology</a></p>
        <p><strong>Office</strong>: RM 7015, AU Building, Nanjing University of Science and Technology, 200 Xiaolingwei Road, Nanjing</p>
        <p><strong>Email</strong>: <img src="images/email_image.png" width="170" height="22" alt=""/></p>
      <p><strong>Phone</strong>: (+86-25)-84315467-715</p></td>
    </tr>
  </tbody>
</table>
<table width="100%" border="0">
  <tbody>
    <tr>
      <td><hr></td>
    </tr>
  </tbody>
</table>
<p align="center"><strong><a name="top" id="top">[<u><strong><a href="index-cn.html">中文版</a></strong></u><strong>] </strong></a>[<a href="#Biography">Biography</a>] [<a href="#research">Research</a>] [<a href="#Projects">Projects</a>] [<a href="#Publications">Publications</a>] [<a href="#Professional-Activities">Professional Activities</a>] [<a href="#Teaching">Teaching</a>] [<a href="#Students">Students</a>] [<a>Curriculum Vitae</a> ]</strong></p>
<table width="100%" border="0">
  <tbody>
    <tr>
      <td><hr></td>
    </tr>
  </tbody>
</table>
<h3><a name="Biography" id="Biography2"><u><strong>[Biography]</strong></u></a></h3>
<p style="line-height:30px">I am currently an associate professor at <a href="http://au.njust.edu.cn/">School of Automation</a>, <a href="http://www.njust.edu.cn/">Nanjing University of Science and Technology</a>. I obtained my Ph.D. degree in Computer Science from <a href="http://www.ict.ac.cn/">Institute of Computing Technology</a>, <a href="http://www.ucas.ac.cn/">Chinese Academy of Sciences</a> in 2009, under the supervision of Prof. <a href="http://people.ucas.edu.cn/~tangweiqing">Weiqing Tang</a>. I got my BS degree and MS degree in computer science from the <a href="http://cs.njust.edu.cn/">School of Computer Science and Engineering</a>, <a href="http://www.njust.edu.cn/">Nanjing University of Science and Technology</a> in 2004 and 2006, respectively, under the supervision of Prof. Huizhong Wu and Prof. <a href="http://202.119.85.163/open/TutorInfo.aspx?dsbh=02032&yxsh=106&zydm=081203">Weiqing Li</a>.</p>
<p style="line-height:0px" align="right"> <a href="#top">[^Top]</a></p>
<table width="100%" border="0">
  <tbody>
    <tr>
      <td><hr></td>
    </tr>
  </tbody>
</table>
<h3><a name="research"><u><strong>[Research Interests</strong></u></a>]</h3>
<p style="line-height:30px"><a href="Pub/CG_EN.pdf">Computer Graphics</a>, <a href="Pub/AR_EN.pdf">Augmented Reality</a>, <a href="Pub/CV_EN.pdf">Computer Vision</a>, <a href="Pub/ML_EN.pdf">Machine Learning</a>.</p>
<p style="line-height:0px" align="right"><a href="#top">[^Top]</a></p>
<table width="100%" border="0">
  <tbody>
    <tr>
      <td><hr></td>
    </tr>
  </tbody>
</table>
<h3><u><strong><a name="Projects" id="Projects"></a>[Projects</strong></u>]</h3>
<li style="line-height:30px">***, National Key Research and Development program of China, Project number: 2018YFB1004900, 2018-2021, Main Investigator</li>
<li style="line-height:30px"><font color="gray">Research on Digital Watermarking for Engineering CAD Drawings with Local Disproportional Transformations Local Disproportional Transformations , National Natural Science Foundation, Project number: 61300160, 2014-2016, Principal Investigator </font></li>
<p style="line-height:0px" align="right"><a href="#top">[^Top]</a></p>
<table width="100%" border="0">
  <tbody>
    <tr>
      <td><hr></td>
    </tr>
  </tbody>
</table>
<table width="100%" border="0">
  <tbody>
    <tr>
      <td><h3><a name="Publications" id="Publications"><u>[Selected Publications</u></a>]</h3></td>
    </tr>
  </tbody>
</table>
<table width="100%" border="0">
  <tbody>
    <tr>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td><img src="Pub/Hash4Auth.png" width="200" height="109" alt=""/></td>
      <td><h4>Learning to Hash for Personalized Image Authentication</h4>
        <p><strong>Zhiyong Su*</strong>, Liang Yao, Jialin Mei, Lang Zhou, and Weiqing Li</p>
        <p><em>Under Review</em><span ng-if="::vm.details.endPage">, </span>2019<em>.</em> [PDF] [<a href="Code/Hash4Auth.zip">Code</a>]</p></td>
    </tr>
    <tr>
      <td width="203"><img src="Pub/TIFS201801.png" width="200" height="100" alt=""/></td>
      <td width="760"><h4><a href="http://ieeexplore.ieee.org/document/8119565/">Robust 2D Engineering CAD Graphics Hashing for Joint Topology and Geometry Authentication via Covariance-Based Descriptors</a></h4>
        <p><strong>Zhiyong Su*</strong>, Ying Ye, Qi Zhang, Weiqing Li,  Yuewei Dai</p>
      <p><em><strong>IEEE Transactions on Information Forensics and Security</strong></em>, 13(4): 1018<span ng-if="::vm.details.endPage">-1030, </span>2018<em>.</em> [<a href="Pub/TIFS201801.pdf">PDF</a>]</p></td>
    </tr>
    <tr>
      <td height="112"><img src="Pub/MTAP2017.png" width="200" height="100" alt=""/></td>
      <td><p><strong><a href="https://link.springer.com/article/10.1007/s11042-016-3994-x">A Unified Framework for Authenticating Topology Integrity of 2D Heterogeneous Engineering CAD Drawings</a></strong></p>
        <p><strong><span lang="EN-US">Zhiyong Su</span>*<span lang="EN-US">,</span></strong><strong><span lang="EN-US"> </span></strong><span lang="EN-US">Lang Zhou, Yaobin Mao, Yuewei Dai, Weiqing Tang</span></p>
      <p><em><em><strong>Multimedia Tools and Applications</strong></em></em>, 76(20): 20663-20689, 2017<em>.</em> [<a href="Pub/MTAP2017.pdf">PDF</a>]</p></td>
    </tr>
    <tr>
      <td><img src="Pub/GM2017.png" width="200" height="100" alt=""/></td>
      <td>
        <p><u><strong><a href="https://www.sciencedirect.com/science/article/pii/S1524070317300504">Topology based 2D engineering drawing and 3D model matching for process plant</a></strong></u></p>
        <p>Rui Wen<strong>*</strong>, Weiqing Tang, <strong>Zhiyong Su</strong></p>
        <p><em><em><em><strong>Graphical Models</strong></em></em></em>, 92: 1-15, 2017<em>.</em></p>      </td>
    </tr>
    <tr>
      <td><img src="Pub/CADA2017.png" width="200" height="100" alt=""/></td>
      <td><p><u><a href="http://www.tandfonline.com/doi/full/10.1080/16864360.2016.1257185"><strong>Measuring 3D process plant model similarity based on topological relationship distribution</strong></a></u></p>
        <p>Rui Wen<strong>*</strong>, Weiqing Tang, <strong>Zhiyong Su</strong></p>
      <p><span lang="EN-US"><em><strong>Computer-Aided Design and Applications</strong></em>, 14(4): 422-435, 2017.</span></p></td>
    </tr>
    <tr>
      <td><img src="Pub/CAD2015.png" width="200" height="100" alt=""/></td>
      <td><p><strong><u><a href="http://www.sciencedirect.com/science/article/pii/S0010448515000512">Topology Authentication for Piping Isometric Drawings</a></u></strong></p>
        <p><strong>Zhiyong Su</strong><strong>*</strong>, Xin Yang, Guangjie Liu, Weiqing Li, Weiqing Tang</p>
      <p><em><strong>Computer-Aided Design</strong></em>, 66(9): 33-44, 2015. [<a href="Pub/CAD2015.pdf">PDF</a>]</p></td>
    </tr>
    <tr>
      <td><img src="Pub/MTAP2014.png" width="200" height="100" alt=""/></td>
      <td><p><strong><u><a href="http://link.springer.com/article/10.1007/s11042-013-1677-4/fulltext.html">Authenticating topological integrity of process plant models through digital watermarking</a><a href="http://www.sciencedirect.com/science/article/pii/S0010448515000512"></a></u></strong></p>
        <p><strong>Zhiyong Su</strong>, Lang Zhou, Guangjie Liu, Jianshou Kong<strong>*</strong>, Yuewei Dai</p>
      <p><em><strong>Multimedia Tools and Applications</strong></em>, 73(3): 1687–1707, 2014. [<a href="Pub/MTAP2014.pdf">PDF</a>]</p></td>
    </tr>
    <tr>
      <td><img src="Pub/CAD2013.png" width="200" height="100" alt=""/></td>
      <td><p><u><a href="http://www.sciencedirect.com/science/article/pii/S0010448513000511"><strong>Watermarking 3D CAPD models for topology verification</strong></a></u></p>
        <p><strong>Zhiyong Su*</strong>, Weiqing Li, Jianshou Kong, Yuewei Dai, Weiqing Tang</p>
      <p><em><strong>Computer-Aided Design</strong></em>, 45(7): 1042-1052, 2013. [<a href="Pub/CAD2013.pdf">PDF</a>]</p></td>
    </tr>
    <tr>
      <td height="108"><img src="Pub/CG2013.png" width="200" height="100" alt=""/></td>
      <td><p><strong><u><a href="http://www.sciencedirect.com/science/article/pii/S0097849313000320">Topology authentication for CAPD models based on Laplacian coordinates</a></u></strong></p>
        <p><strong>Zhiyong Su*</strong>, Lang Zhou, Weiqing Li, Yuewei Dai, Weiqing Tang</p>
      <p><em><strong>Computers &amp; Graphics</strong></em>, 37(4): 269–279, 2013. [<a href="Pub/CG2013.pdf">PDF</a>]</p></td>
    </tr>
  </tbody>
</table>
<p style="line-height:0px" align="right"><a href="#top">[^Top]</a></p>
<hr>
<h3><strong><a name="Professional-Activities" id="Professional-Activities"></a><u>[Professional Activities</u></strong>]</h3>
<ul>
  <li><strong>Reviewer</strong></li>
</ul>
<p style="line-height:30px">IEEE Transactions on Information Forensics and Security, IEEE Transactions on Multimedia, Computer-Aided Design, International Journal of Distributed Sensor Networks, International Journal of Automation and Computing </p>
<p style="line-height:0px" align="right"><a href="#top">[^Top]</a></p>
<table width="100%" border="0">
  <tbody>
    <tr>
      <td><hr></td>
    </tr>
  </tbody>
</table>
<table width="100%" border="0" align="center">
  <tbody>
    <tr>
      <td></td>
    </tr>
  </tbody>
</table>
<h3><strong><a name="Teaching" id="Teaching"></a><u>[Teaching</u></strong><strong></strong>]</h3>
<strong><li>Graduate-level</li></strong>
<p>Information processing technology of network system </p>
<li><strong>Undergraduate-level</strong></li>
<p>Fundamentals of Computer Software Techniques</p>
<p>Communication Technology of power system </p>
<p style="line-height:0px" align="right"><a href="#top">[^Top]</a></p>
<table width="100%" border="0">
  <tbody>
    <tr>
      <td><hr></td>
    </tr>
  </tbody>
</table>
<h3><strong><a name="Students" id="Students"></a>[<u>Students</u></strong>]</h3>
<li><strong>PhD students</strong></li>
<p>2014-: Zhuheng Lu (Co-Supervisor)</p>
<p>2011-: Weiwei Mao (Co-Supervisor)</p>
<li><strong>Master students</strong></li>
<p>2018-: An Deng, Yihe Wu, Lijun He, Suqin Jiang, Huifang Li (Co-Supervisor)</p>
<p>2017-: Qi Li, Han Wang, Liang Yao, JiaLin Mei</p><li><strong>Alumni</strong></li>
<p>2016-2019: Weihao Li(Master Student), Hantian Yuan(Master Student),  Shiming Yao(Master Student),  Jingrong Zhang(Master Student)</p>
<p>2015-2018: JiaSheng Xue(Master Student), Qi Zhang(Master Student), Ying Ye(Master Student)</p>
<p>2014-2017: Gong Chen (Master Student), Xiaobin Ma  (Master Student), Xin Wang  (Master Student), Ying Lu (Master Student)</p>
<p>2013-2016: Yafei Guo (Master Student), Xiaosheng Shen(Master Student)</p>
<p>2012-2015: Yichao Yao (Master Student) (Co-Supervisor), Chenhuan Xing (Master Student) (Co-Supervisor)</p>
<p>2011-2014: Yang Yang (Master Student)</p>
<p>2009-2012: Kai Xu (Master Student), Qi Zhang (Master Student)</p>
<p style="line-height:0px" align="right"> <a href="#top">[^Top]</a></p>
<hr>
<p align="center"><a href="https://clustrmaps.com/site/19xil" title="Visit tracker"><img src="//www.clustrmaps.com/map_v2.png?d=_tdmSO7kBKJxnb4gnSXix5t5visrmUfYYR7m10GYOp4&cl=ffffff" width="90" height="60"></a></p>
<p align="center">Copyright &#169; 2019, Zhiyong Su, Last modified: 20.07.2019</p>

</body>
</html>
