<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<title>VCG @ NJUST</title></head>

<body bgcolor="#F1F1F1" leftmargin="50" topmargin="20" marginwidth="150" marginheight="10">
<table width="100%" border="0">
  <tbody>
    <tr>
      <td width="250" height="200"><img src="Bio/su.png" width="208" height="252" alt=""/></td>
      <td width="984"><h1><strong>Dr. Zhiyong Su</strong></h1>
        <h4>Associate Professor</h4>
        <p>Visual Computing Group</p>
        <p><a href="http://au.njust.edu.cn/">School of Automation</a>, <a href="http://english.njust.edu.cn">Nanjing University of Science and Technology</a></p>
        <p><strong>Office</strong>: RM 7015, AU Building, Nanjing University of Science and Technology, 200 Xiaolingwei Road, Nanjing</p>
        <p><strong>Email</strong>: suzhiyong@njust.edu.cn; su@njust.edu.cn </p>
      <p><strong>Phone</strong>: (+86)1-3-9-0-5-1-6-1-2-7-1</p></td>
      <td width="208"><img src="Bio/WeChat.JPG" width="208" height="252" alt=""/></td>
    </tr>
  </tbody>
</table>
<table width="100%" border="0">
  <tbody>
    <tr>
      <td><hr></td>
    </tr>
  </tbody>
</table>
<p align="center"><strong><a name="top" id="top">[<u><strong><a href="#Biography">Biography</a></strong></u><strong>] </strong></a>[<a href="#research">Research</a>] [<a href="#Publications">Publications</a>] [<a href="#Professional-Activities">Professional Activities</a>] [<a href="#Teaching">Teaching</a>] [<a href="#Students">Students</a>] [<a href="Bio/cv.pdf">Curriculum Vitae</a> ] [</strong><a href="index-cn.html">中文版</a><strong> ]</strong></p>
<table width="100%" border="0">
  <tbody>
    <tr>
      <td><hr></td>
    </tr>
  </tbody>
</table>
<h3><u><strong>[News]</strong></u></h3>
<ul>
  <li>2020.10. One paper was accepetd by IEEE Access.</li>
	</ul>
<ul>
  <li>2020.8. One paper was accepetd by Multimedia Tools and Applications.</li>
</ul>
<ul>
  <li>2020.6. One paper was accepetd by IEEE Transactions on Circuits and Systems for Video Technology.</li>
</ul>
<table width="100%" border="0">
  <tbody>
    <tr>
      <td><hr></td>
    </tr>
  </tbody>
</table>
<h3><a name="Biography" id="Biography2"><u><strong>[Biography]</strong></u></a><a href="#top">[^Top]</a></h3>
<p style="line-height:30px">I am currently an associate professor at <a href="http://au.njust.edu.cn/">School of Automation</a>, <a href="http://english.njust.edu.cn/">Nanjing University of Science and Technology</a>. I obtained my Ph.D. degree in Computer Science from <a href="http://english.ict.cas.cn">Institute of Computing Technology</a>, <a href="http://english.ucas.ac.cn">University of Chinese Academy of Sciences</a> in 2009, under the supervision of Prof. <a href="http://people.ucas.edu.cn/~tangweiqing">Weiqing Tang</a>. I got my BS degree and MS degree in computer science from the <a href="http://cs.njust.edu.cn/">School of Computer Science and Engineering</a>, <a href="http://english.njust.edu.cn/">Nanjing University of Science and Technology</a> in 2004 and 2006, respectively, under the supervision of Prof. Huizhong Wu and Prof. <a href="http://202.119.85.163/open/TutorInfo.aspx?dsbh=2V9HrcWAvU9ZaEZnp7dJfg==&yxsh=4iVdgPyuKTE=&zydm=QP9JvMVDx3k=">Weiqing Li</a>.</p>
<table width="100%" border="0">
  <tbody>
    <tr>
      <td><hr></td>
    </tr>
  </tbody>
</table>
<h3><a name="research"><u><strong>[Research Interests</strong></u></a>]<a href="#top">[^Top]</a></h3>
<p style="line-height:30px">My research interests span <strong>Computer Graphics</strong>, <strong>Augmented Reality</strong>, <strong>Computer Vision</strong>, and<strong> Machine Learning</strong>. More specifically:</p>
<ul>
  <li><strong >Point Cloud Processing: </strong>Denoising, Compression, Segmentation, Recognition, Quality Assessment. </li>
</ul>
<ul>
  <li><strong>Machine Learning for Graphics: </strong>Metric Learning, Hash Learning, Graph Learning, Representation Learning.</li>
</ul>
<ul>
  <li><strong>Rendering for AR: </strong>Shadow Rendering, Occlusion Handling, Relighting.</li>
</ul>
<ul>
  <li><strong>Modelling: </strong>3D Reconstruction, Retrieval.</li>
</ul>
<ul>
  <li><strong>MoCap: </strong>Clustering, Retrieval.</li>
</ul>
<ul>
  <li><strong>Multimedia Security: </strong>Content Authentication for CAD, Image Authentication.</li>
</ul>
<table width="100%" border="0">
  <tbody>
    <tr>
      <td><hr></td>
    </tr>
  </tbody>
</table>
<table width="100%" border="0">
  <tbody>
    <tr>
      <td><h3><a name="Publications" id="Publications"><u>[Selected Publications</u></a>]<a href="#top">[^Top]</a></h3></td>
    </tr>
  </tbody>
</table>
<table width="100%" border="0">
  <tbody>
    <tr>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td><img src="Images/Image-WSC.png" width="200" height="116" alt=""/></td>
      <td><h4>Weakly Supervised Real-world Point Cloud Classification</h4>
        <p> An Deng, Peng Zhang, Zhuheng Lu,   Weiqing Li, and <strong>Zhiyong Su*</strong></p>
      <p>Under Review<em>.</em> [PDF] [Code]</p></td>
    </tr>
    <tr>
      <td height="118"><img src="Images/Image-TVCG2021.png" width="200" height="116" alt=""/></td>
      <td><h4>Slicing-Tracking-Detection: Simultaneous Multi-Cylinder Detection from Large-scale and Complex Point Clouds</h4>
        <p> Zhuheng Lu, Weiwei Mao,Yuewei Dai,   Weiqing Li, and <strong>Zhiyong Su*</strong></p>
      <p>Under Review<em>.</em> [PDF] [Code]</p></td>
    </tr>
	  <tr>
      <td><img src="Images/Image-PMRW.png" width="200" height="100"></td>
      <td><h4><a href="https://ieeexplore.ieee.org/document/9249046">Partial Matching of Large Scale Process Plant Models Using Random Walk on Graphs</a></h4>
        <p>Weiwei Mao, Zhuheng Lu, Yuewei Dai,   Weiqing Li, and <strong>Zhiyong Su*</strong></p>
        <p><strong><em>IEEE Access</em></strong><em>,</em><span ng-if="::vm.details.endPage"> </span>8: 201109 <span _ngcontent-loe-c27="">- 201119</span>, 2020<em>. </em>[<a href="Pub/Paper-Access2020.pdf">PDF</a>] [<a href="Code/Code-Access2020.zip">Code</a>]</p></td>
    </tr>
	<tr>
      <td><img src="Images/Image-MTAP2020.png" width="200" height="109" alt=""/></td>
      <td><h4><a href="https://ieeexplore.ieee.org/document/9115721/">An Augmented Reality-based Multimedia Environment for Experimental Education</a></h4>
        <p>Zhenning Zhang, Zichen Li, Meng Han, <strong>Zhiyong Su</strong>, Weiqing Li<strong>*</strong>, Zhigeng Pan</p>
      <p><strong><em>Multimedia Tools and Applications</em></strong><span ng-if="::vm.details.endPage">, </span>to appear, 2020<em>.</em> [<a href="Pub/Paper-MTAP2020.pdf">PDF</a>]</p></td>
    </tr>
    <tr>
      <td><img src="Images/Image-TCSVT2020.png" width="200" height="109" alt=""/></td>
      <td><h4><a href="https://ieeexplore.ieee.org/document/9115721/">Learning to Hash for Personalized Image Authentication</a></h4>
        <p><strong>Zhiyong Su</strong>, Liang Yao, Jialin Mei, Lang Zhou, and Weiqing Li<strong>*</strong></p>
        <p><strong><em>IEEE Transactions on Circuits and Systems for Video Technology</em></strong><span ng-if="::vm.details.endPage">, </span>to appear, 2020<em>.</em>[<a href="Pub/Paper-TCSVT2020.pdf">PDF</a>] [<a href="Code/Code-TCSVT2020.zip">Code</a>]</p></td>
    </tr>
    <tr>
      <td width="203"><img src="Images/Image-TIFS2018.png" width="200" height="100" alt=""/></td>
      <td width="760"><h4><a href="http://ieeexplore.ieee.org/document/8119565/">Robust 2D Engineering CAD Graphics Hashing for Joint Topology and Geometry Authentication via Covariance-Based Descriptors</a></h4>
        <p><strong>Zhiyong Su*</strong>, Ying Ye, Qi Zhang, Weiqing Li,  Yuewei Dai</p>
      <p><em><strong>IEEE Transactions on Information Forensics and Security</strong></em>, 13(4): 1018<span ng-if="::vm.details.endPage">-1030, </span>2018<em>.</em> [<a href="Pub/Paper-TIFS2018.pdf">PDF</a>]</p></td>
    </tr>
    <tr>
      <td height="112"><img src="Images/Image-MTAP2017.png" width="200" height="100" alt=""/></td>
      <td><p><strong><a href="https://link.springer.com/article/10.1007/s11042-016-3994-x">A Unified Framework for Authenticating Topology Integrity of 2D Heterogeneous Engineering CAD Drawings</a></strong></p>
        <p><strong><span lang="EN-US">Zhiyong Su</span>*<span lang="EN-US">,</span></strong><strong><span lang="EN-US"> </span></strong><span lang="EN-US">Lang Zhou, Yaobin Mao, Yuewei Dai, Weiqing Tang</span></p>
      <p><em><em><strong>Multimedia Tools and Applications</strong></em></em>, 76(20): 20663-20689, 2017<em>.</em> [<a href="Pub/Paper-MTAP2017.pdf">PDF</a>]</p></td>
    </tr>
    <tr>
      <td><img src="Images/Image-GM2017.png" width="200" height="100" alt=""/></td>
      <td>
        <p><u><strong><a href="https://www.sciencedirect.com/science/article/pii/S1524070317300504">Topology based 2D engineering drawing and 3D model matching for process plant</a></strong></u></p>
        <p>Rui Wen<strong>*</strong>, Weiqing Tang, <strong>Zhiyong Su</strong></p>
        <p><em><em><em><strong>Graphical Models</strong></em></em></em>, 92: 1-15, 2017<em>.</em> [<a href="Pub/Paper-GM2017.pdf">PDF</a>]</p>      </td>
    </tr>
    <tr>
      <td><img src="Images/Image-CAD2015.png" width="200" height="100" alt=""/></td>
      <td><p><strong><u><a href="http://www.sciencedirect.com/science/article/pii/S0010448515000512">Topology Authentication for Piping Isometric Drawings</a></u></strong></p>
        <p><strong>Zhiyong Su</strong><strong>*</strong>, Xin Yang, Guangjie Liu, Weiqing Li, Weiqing Tang</p>
      <p><em><strong>Computer-Aided Design</strong></em>, 66(9): 33-44, 2015. [<a href="Pub/Paper-CAD2015.pdf">PDF</a>]</p></td>
    </tr>
    <tr>
      <td><img src="Images/Image-MTAP2014.png" width="200" height="100" alt=""/></td>
      <td><p><strong><u><a href="http://link.springer.com/article/10.1007/s11042-013-1677-4/fulltext.html">Authenticating topological integrity of process plant models through digital watermarking</a><a href="http://www.sciencedirect.com/science/article/pii/S0010448515000512"></a></u></strong></p>
        <p><strong>Zhiyong Su</strong>, Lang Zhou, Guangjie Liu, Jianshou Kong<strong>*</strong>, Yuewei Dai</p>
      <p><em><strong>Multimedia Tools and Applications</strong></em>, 73(3): 1687–1707, 2014. [<a href="Pub/Paper-MTAP2014.pdf">PDF</a>]</p></td>
    </tr>
    <tr>
      <td><img src="Images/Image-CAD2013.png" width="200" height="100" alt=""/></td>
      <td><p><u><a href="http://www.sciencedirect.com/science/article/pii/S0010448513000511"><strong>Watermarking 3D CAPD models for topology verification</strong></a></u></p>
        <p><strong>Zhiyong Su*</strong>, Weiqing Li, Jianshou Kong, Yuewei Dai, Weiqing Tang</p>
      <p><em><strong>Computer-Aided Design</strong></em>, 45(7): 1042-1052, 2013. [<a href="Pub/Paper-CAD2013.pdf">PDF</a>]</p></td>
    </tr>
    <tr>
      <td height="108"><img src="Images/Image-CG2013.png" width="200" height="100" alt=""/></td>
      <td><p><strong><u><a href="http://www.sciencedirect.com/science/article/pii/S0097849313000320">Topology authentication for CAPD models based on Laplacian coordinates</a></u></strong></p>
        <p><strong>Zhiyong Su*</strong>, Lang Zhou, Weiqing Li, Yuewei Dai, Weiqing Tang</p>
      <p><em><strong>Computers &amp; Graphics</strong></em>, 37(4): 269–279, 2013. [<a href="Pub/Paper-CG2013.pdf">PDF</a>]</p></td>
    </tr>
  </tbody>
</table>
<p style="line-height:0px" align="right"><a href="#top"></a></p>
<hr>
<h3><strong><a name="Professional-Activities" id="Professional-Activities"></a><u>[Professional Activities</u></strong>]<a href="#top">[^Top]</a></h3>
<ul>
  <li><strong>Reviewer</strong></li>
</ul>
<p style="line-height:30px">IEEE Transactions on Information Forensics and Security, IEEE Transactions on Multimedia, IEEE Access, Computer-Aided Design, Journal of Information Security and Applications,  etc. 
<table width="100%" border="0">
  <tbody>
    <tr>
      <td><hr></td>
    </tr>
  </tbody>
</table>
<table width="100%" border="0" align="center">
  <tbody>
    <tr>
      <td></td>
    </tr>
  </tbody>
</table>
<h3><strong><a name="Teaching" id="Teaching"></a><u>[Teaching</u></strong><strong></strong>]<a href="#top">[^Top]</a></h3>
<strong><li>Graduate-level</li></strong>
<p>Information processing technology of network system </p>
<li><strong>Undergraduate-level</strong></li>
<p>Fundamentals of Computer Software Techniques</p>
<p>Communication Technology of power system</p>
<table width="100%" border="0">
  <tbody>
    <tr>
      <td><hr></td>
    </tr>
  </tbody>
</table>
<h3><strong><a name="Students" id="Students"></a>[<u>Students</u></strong>]<a href="#top">[^Top]</a></h3>
<li><strong>PhD students</strong></li>
<p>2014-: Zhuheng Lu (Co-Supervisor)</p>
<p>2011-: Weiwei Mao (Co-Supervisor)</p>
<li><strong>Master students</strong></li>
<p>2020-:  Peng Zhang, DiCong Lv, Chao Chu, Ziyue Ji, Dilei Huang(Co-Supervisor)</p>
<p>2019-:  Tiantian Yu, Shiyang Zhou, Guoxing Sun, Dong Qiu, Yong Li (Co-Supervisor)</p>
<p>2018-: An Deng, Yihe Wu, Lijun He, Suqin Jiang, Gang Yang, Huifang Li (Co-Supervisor)</p><li><strong>Alumni</strong></li>
<p>2017-2020: Qi Li, Han Wang, Liang Yao, JiaLin Mei, Linlin Liu</p>
<p>2016-2019: Weihao Li, Hantian Yuan,  Shiming Yao,  Jingrong Zhang</p>
<p>2015-2018: JiaSheng Xue, Qi Zhang, Ying Ye</p>
<p>2014-2017: Gong Chen, Xiaobin Ma, Xin Wang</p>
<p>2013-2016: Yafei Guo, Xiaosheng Shen, Ying Lu</p>
<p>2012-2015: Yichao Yao (Co-Supervisor), Chenhuan Xing (Co-Supervisor)</p>
<p>2011-2014: Yang Yang</p>
<p>2009-2012: Kai Xu, Qi Zhang</p>
<hr>
<p align="center"><a href="https://clustrmaps.com/site/19xil" title="Visit tracker"><img src="//www.clustrmaps.com/map_v2.png?d=_tdmSO7kBKJxnb4gnSXix5t5visrmUfYYR7m10GYOp4&cl=ffffff" width="90" height="60"></a></p>
<p align="center">Copyright &#169; 2020, Zhiyong Su, Last modified: 21.12.2020</p>

</body>
</html>
